/target
**/target
.env
.env.local
.env.*.local
*.log
logs/
docs/screenshots/*.tmp
*.swp
static/uploads/
.DS_Store
Thumbs.db
node_modules/
*.sqlite
*.db
create_structure.ps1

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Virtual Environments
venv/
.venv/


